# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE/editor configs
.vscode/
.idea/
*.swp

# Build outputs & dependencies
node_modules/
coverage/
*.log
*.tsbuildinfo

# Tests
test/
__tests__/
*.spec.ts
*.test.ts

# Source (exclude, since we only ship dist/)
src/

# Git & CI
.github/
.gitignore

# TypeScript / Lint / Formatting configs (not needed in published pkg)
tsconfig.json
tslint.json
.eslintrc*
.eslintignore
.prettierrc*
.prettierignore
commitlint.config.js

# Env & secrets
.env
.env.*

# Package manager locks
package-lock.json
yarn.lock
pnpm-lock.yaml

# Jest config
jest.config.js